h2:hover {
  color: red;
}

h2[class="subtitle"] {
  color: blue;
}

/* .subtitle {
  color: blue;
} */

#services {
  color: green;
}
/* 
li:nth-child(2) {
  color: steelblue;
}

li:first-child {
  color: steelblue;
}

li:last-child {
  color: steelblue;
} */

li:only-child {
  color: purple;
}

/* #google-link:link {
  color: blue;
}

#google-link:link:visited {
  color: red;
} */

h2 + a {
  color: red;
}

textarea ~ button {
  color: purple;
}

ul > li {
  color: blue;
}

img[src^="../img/"] {
  border: 10px solid black;
}

/* 
^ - files that begin with whats after =
$ - files that end with whats after =
* - if it contains it anywhere after = 
*/

h2[class~="article-subtitle"] {
  background: green;
}
